body {
	margin: 0;
}

.mainview {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.view {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	padding-top: 3em;
	padding-bottom: 3em;
	background-color: white;
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	-moz-transition: -moz-transform 0.4s ease-in-out;
	-o-transition: -o-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
	overflow-y: scroll;
}

.stackedright {
	-webkit-transform: translate3d(105%, 0, 0);
	-moz-transform: translate3d(105%, 0, 0);
	-o-transform: translate3d(105%, 0, 0);
	transform: translate3d(105%, 0, 0);
}

.calcpart,.calcmultipart {
	display: block;
	float: left;
	clear: left;
	padding: 3px;
	margin: 3px;
	margin-left: 3em;
	border: 1px solid black;
}

.calcresult {
	background-color: rgb(206, 158, 158);
	margin-left: 5px;
}

.calcdesc {
	display: block;
	clear: left;
	font-style: italic;
	font-size: 0.9em;
}

.calctitle {
	text-decoration: underline;
}

.vehiclelist {
	margin-left: 0;
	padding-left: 0;
	-webkit-padding-start: 0;
}

.vehiclelistitemview {
	list-style-type: none;
	display: block;
	margin: 3px;
	border: 1px solid black;
	padding: 2px;
	padding-left: 10px;
}


.axlecontainer {
	float: left;
	text-align: center;
}

.axle {
	display: block;
	min-height: 3em;
	min-width: 3em;
	border-radius: 1.5em;
	background-color: #DDD;
}
.axle-boggie {
	min-width: 7em;
}
.axle-trippel {
	min-width: 10em;
}
.axledistancetonext {
	display: block;
	float: left;
	width: 5em;
	height: 3px;
	border-top: 4px solid #DDD;
	position: relative;
	top: 1.7em;
	text-align: center;
}

.axledistancetonext.lastaxlegroup {
	border-top-style: dashed;
}

.axledesc, .axlewidth {
	display: block;
}

.axledesc {
	margin-top: 2px;
}

.axledrawing {
	font-size: 0.7em;
}

.group:after {
	content: " ";
	clear: both;
	display: block;
	height: 1px;
}

#backbutton {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 112px;
	padding-top: 18px;
	background-color: red;
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	-moz-transition: -moz-transform 0.4s ease-in-out;
	-o-transition: -o-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;

	-webkit-transform: translate3d(-101%,0,0);
	-moz-transform: translate3d(-101%,0,0);
	-o-transform: translate3d(-101%,0,0);
	transform: translate3d(-101%,0,0);
}

#backbutton a {
	width: 54px;
	display: inline-block;
	text-align: center;
}

.singleback #backbutton {
	-webkit-transform: translate3d(-50%,0,0);
	-moz-transform: translate3d(-50%,0,0);
	-o-transform: translate3d(-50%,0,0);
	transform: translate3d(-50%,0,0);
}

.multiback #backbutton {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);	
}

