.axle {
	display: block;
	float: left;
	min-height: 4em;
	min-width: 4em;
	border-radius: 2em;
	background-color: #DDD;
	text-align: center;
}
.axle-boggie {
	min-width: 7em;
}
.axle-trippel {
	min-width: 10em;
}
.axledistancetonext {
	display: block;
	float: left;
	width: 5em;
	height: 3px;
	border-top: 4px solid #DDD;
	position: relative;
	top: 1.7em;
	text-align: center;
}
.axledesc, .axlewidth {
	display: block;
}

input[type="number"] {
	min-width: 100px;
}

input[type="text"], input.wide {
	min-width: 220px;
}

.axledesc {
	margin-top: 2px;
}

.calcprint {
	display: block;
	float: left;
	clear: left;
	padding: 3px;
	margin: 3px;
	margin-left: 3em;
}
.calcprint.calc0 {
	margin-left: 0;
}

.calcprint.calcodd {
	background-color: #FFF;
}

.calcresult {
	background-color: rgb(206, 158, 158);
}

.calcdesc {
	display: block;
	clear: left;
	font-style: italic;
	font-size: 0.9em;
}

.calctitle {
	text-decoration: underline;
}

.calcdesc, .calcdetails {
	display: none;
}

.calcprint.zoomed > .calcdesc, .calcprint.zoomed > .calcdetails {
	display: block;
}

.calczoomer {
	margin-left:1em;
}

#totalresult:after {
	content: " ";
	clear: both;
	display: block;
	height: 3em;
}
#totalaxleresult {
	font-size: 0.8em;
}

.totalexamples {
	background-color: #DDD;
}
.totalexamples > span {
	font-size: 0.86em;
}
.totalexamples > button {
	margin: 3px;
}
.totalexamples:after {
	content: " ";
	clear: both;
	display: block;
	height: 1px;
}